In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel("startups.xlsx")

In [6]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [9]:
X = data.iloc[:,:-1] # independent variable

In [19]:
y = data.iloc[:,-1] # dependent variable

In [12]:
state = pd.get_dummies(X['State'], drop_first=True)

In [13]:
X = X.drop('State', axis=1)

In [14]:
X = pd.concat([X, state], axis = 1)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
linear_regressor = LinearRegression()
linear_regressor.fit(X,y)

LinearRegression()

In [24]:
y_predict = linear_regressor.predict(X_test)

In [25]:
y_test, y_predict

(13    134307.35
 39     81005.76
 30     99937.59
 45     64926.08
 17    125370.37
 48     35673.41
 26    105733.54
 25    107404.34
 32     97427.84
 19    122776.86
 Name: Profit, dtype: float64,
 array([127431.24898633,  83684.9760399 ,  99629.0105373 ,  47588.36470994,
        130085.40993359,  49123.07308284, 110765.3011688 , 102200.26891867,
         98988.23660304, 115594.18840731]))

In [26]:
from sklearn.metrics import r2_score

In [27]:
score = r2_score(y_test, y_predict)
score

0.9179169317955789